<h2><%= link_to question.title, question_path(question) %></h2>
<%= link_to question.user.name, user_path(question.user) %><br>
<%= question.count_votes %> <%= render partial: 'votes/new', locals: {votable: question} %><br>
Created at:
<%= human_friendly_date(question) %><br>
<% if current_user == question.user %>
  <%= link_to 'Edit Question', edit_question_path(question) %><br>
<% end %>
Tags:
<div>
  <% question.tags.each do |tag|%>
  <%= link_to tag.name, tag_path(tag), html_options = {class:"btn btn-primary btn-xs", role:"button"} %>
  <% end %>
</div><br>



