<h2><%= link_to question.title, question_path(question) %></h2>
Author:
<%= question.user.name %><br>
Body:
<%= question.body %><br>
Created at:
<%= question.created_at %><br>
Tags:
<% question.tags.each do |tag|%>
  <%= tag.name %>
<% end %><br>
<%= question.votes %>
<% if current_user %>
  <%= render '/votes/new' %>
<% end %>


