<%= render @question %>
<table class="table">
  <tr>
    <td>
      <%= @question.body %><br>
      <%= link_to "Add Response", new_question_response_path(@question) %>
    </td>
  </tr>

  <tr>
    <td>
      <% if current_user %>
        <%= render '/answers/new' %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>Responses
    <ul><%= render @responses %></ul></td>
  </tr>
  <tr>
    <td>Answers
    <%= render @answers %></td>
  </tr>
</table>



