<%= render @question %>
<% if current_user %>
  <%= render '/answers/new' %>
<% end %>
<br>
Responses
<ul>
  <% @question.responses.each do |response| %>
    <li><%= response.body %></li>
  <% end %>
</ul>
Answers
<ul>
  <% @question.answers.each do |answer| %>
    <li><%= answer.count_votes %><%= render 'votes/new'%></li>
    <li><%= answer.body %></li>
    <%= link_to "Add Response", new_question_answer_response_path(@question.id, answer.id) %>
        <ul>
        <% answer.responses.each do |response| %>
           <li><%= response.body %></li>
        <% end %>
        </ul>
  <% end %>
</ul>


