<!DOCTYPE html>
<html>
<head>
  <title>SwagOGFlow</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= nav_bar do %>
  <%= menu_group do %>
    <h2 class="navbar-left" ><%= menu_item "SwagOGFlow", root_path %></h2>
    <% if current_user %>
      <%= menu_item "My profile", user_path(current_user) %>
      <%= menu_item "Create a new question", new_question_path %>
      <%= menu_item "Sign out", signout_path %>
    <% else %>
      <%= menu_item "Sign up", signup_path %>
      <%= menu_item "Sign in", signin_path %>
    <% end %>
  <% end %>
<% end %>


 <%= flash[:notice] %>
 <%= yield %>

</body>
</html>
